/* General Styles */

.background {
  padding: 5px;
  overflow: hidden;
  /* background-color: var(--light-3); */
  margin: 20px auto auto auto;
  padding: 10px;
  border-radius: 15px;
  width: 85%;
}

/* .head {
  background-color: var(--main-color);
} */

/* .modal-setting-1 {
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  width: fit-content;
  margin: 10px;
} */

.para {
  width: 70vw;
}

/* Light Mode Styles */

.background-light {
  background-color: var(--light-3);
}

.head-light {
  color: #222;
}

.para-light {
  color: #222;
}

.btn-light {
  background-color: var(--dark-2);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* Dark Mode Styles */

.background-dark {
  background-color: var(--dark-1);
}

.head-dark {
  color: #fff;
}

.para-dark {
  color: #fff;
}

.btn-dark {
  background-color: #fff;
  color: #222;
}
