.chat {
  flex: 0.9;
  overflow-y: scroll;
  margin-top: 64px;
  background-color: var(--light-3);
}

.chat::-webkit-scrollbar {
  display: none;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid var(--dark-1);
  position: sticky;
  top: 0;
  background-color: var(--main-color);
  color: white;
}

.chat-header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0.4;
}

.chat-header-left > h4 {
  display: flex;
  text-transform: lowercase;
  margin-right: 10px;
}

.chat-header-left > h4 > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}

.chat-header-left > button {
  border: none;
  color: white;
  background-color: transparent;
}

.chat-header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  flex: 0.4;
}

.chat-header-right > .MuiSvgIcon-root {
  margin-right: 5px !important;
  font-size: 16px;
}

.chat-footer {
  display: flex;
  padding: 25px;
  position: sticky;
  bottom: 0;
  background-color: var(--main-color);
}

.chat-messages {
  min-height: 83%;
  bottom: 0;
}

.chat-dummy {
  visibility: hidden;
  height: 1px;
}

/*Mobile screens*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .chat {
    font-size: 15px;
  }

  .chat-header {
    display: flex;
    justify-content: space-between;
    padding: 5.1px;
    border-bottom: 1px solid var(--dark-1);
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
  }

  .chat-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    flex: 0.4;
  }

  .chat-footer {
    display: flex;
    padding: 25px;
    border-top: 1px solid lightgray;
    position: sticky;
    bottom: 0;
    background-color: var(--main-color);
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}
