.chat-input {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
}

.chat-bar {
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-1);
  flex-direction: column;
  /* margin-bottom: 1rem; */
  position: sticky;
  bottom: 0;
}

.chat-bar > form {
  position: sticky;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.chat-bar > form > input {
  position: sticky;
  bottom: 20px;
  width: 90%;
  border: none;
  padding: 20px;
  outline: none;
  background-color: var(--light-1);
}
.chat-bar > form > .MuiSvgIcon-root {
  padding: 10px;
}

.chat-bar > form > button {
  left: -50px;
  color: var(--accent-1);
}

aside.emoji-picker-react {
  width: 95% !important;
  /* height: 350px !important; */
  margin-bottom: 300px !important;
  position: sticky !important;
}

/* Mobile screens*/
@media only screen and (max-width: 428px) {
  .chat-bar {
    font-size: 15px;
    padding: 10px;
  }

  .chat-bar > form > input {
    font-size: 15px;
    padding: 10px;
  }

  aside.emoji-picker-react {
    margin-bottom: 10px !important;
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  aside.emoji-picker-react {
    margin-bottom: 10px !important;
  }
}

/* Laptop screens */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  aside.emoji-picker-react {
    margin-bottom: 0px !important;
  }
}
