.chat {
  flex: 0.8;
  width: 100%;
}

.chat-dark {
  background-size: cover;
  background-image: url("https://media.istockphoto.com/photos/background-black-total-grunge-abstract-cement-concrete-paper-texture-picture-id1251205256?b=1&k=20&m=1251205256&s=170667a&w=0&h=o4N-O5lZywE2lBuauTZX6NiutPCNbKAnuKaTSKWM0Lo=");
}

.chat-light {
  background-image: url("https://wallpaperaccess.com/full/449895.jpg");
}

.chat-display::-webkit-scrollbar {
  display: none;
}

.chat-body {
  width: 95%;
  background: transparent;
}

/* .chat-body-dark {
  background-color: var(--dark-2);
  background-color: tansparent;
}

.chat-body-light {
  background-color: transparent;
  background-color: var(--light-3);
} */

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 11.5px;
  border-bottom: 1px solid var(--dark-1);
  position: sticky;
  top: 0;
  background-color: var(--main-color);
  color: white;
}

.chat-header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0.4;
}

.chat-header-left > h4 {
  display: flex;
  text-transform: lowercase;
  margin-right: 10px;
}

.chat-header-left > h4 > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}

.chat-header-left > button {
  border: none;
  color: white;
  background-color: transparent;
}

.chat-footer {
  display: flex;
  padding: 25px;
  position: sticky;
  bottom: 0;
  background-color: transparent;
}

/* .chat-footer-dark {
  background-color: var(--dark-1);
  padding: 28px;
}

.chat-footer-light {
  background-color: transparent;
} */

.chat-messages {
  display: flex;
  flex-direction: column;
  bottom: 0;
  overflow-y: scroll;
}
/* 
.chat-messages-dark {
  background-color: var(--dark-2);
} */

.chat-messages::-webkit-scrollbar {
  display: none;
}

.chat-dummy {
  visibility: hidden;
  height: 10px;
}

.chat-display {
  flex: 0.8;
  overflow-y: scroll;
  height: 80%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}

.chat-sidebar {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 5%;
  position: sticky;
  top: 0;
  background-color: var(--main-color);
  justify-content: center;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.icons > button {
  display: flex;
  flex-direction: row;
  color: white;
  transform: scale(1.2);
}

/*Mobile screens*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .chat-display {
    height: 75%;
  }

  .chat {
    font-size: 15px;
    flex: 1;
    margin-top: 0%;
    margin-bottom: 90px;
  }

  .chat-header {
    display: flex;
    justify-content: space-between;
    padding: 5.1px;
    border-bottom: 1px solid var(--dark-1);
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
    height: 65px;
  }

  .chat-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    flex: 0.4;
  }

  .chat-footer {
    display: flex;
    position: fixed;
    bottom: 0;
  }

  .chat-sidebar {
    display: none;
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .chat {
    margin-top: 0;
  }

  .chat-sidebar {
    display: none;
  }
}
