.chat-input {
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-input > form {
  position: sticky;
  display: flex;
  justify-content: center;
  width: 100%;
}

.chat-input > form > input {
  position: sticky;
  bottom: 20px;
  width: 90%;
  border: 1px solid var(--accent-1);
  border-radius: 10px;
  padding: 20px;
  outline: none;
  background-color: var(--light-1);
}

.chat-input > form > button {
  left: -50px;
  color: var(--accent-1);
}

@media only screen and (max-width: 428px) {
  .chat-input {
    font-size: 15px;
    padding: 10px;
  }

  .chat-input > form > input {
    font-size: 15px;
    padding: 10px;
  }
}
