.chat {
  flex: 0.8;
  background-color: var(--light-3);
  width: 100%;
  background-image: url("https://wallpaperaccess.com/full/449895.jpg");
}

.chat-body::-webkit-scrollbar {
  display: none;
}

.chat-body {
  flex: 0.8;
  overflow-y: scroll;
  height: 78.9%;
  background-color: transparent;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 11.5px;
  border-bottom: 1px solid var(--dark-1);
  position: sticky;
  top: 0;
  background-color: var(--main-color);
  color: white;
}

.chat-header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0.4;
}

.chat-header-left > h4 {
  display: flex;
  text-transform: lowercase;
  margin-right: 10px;
}

.chat-header-left > h4 > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}

.chat-header-left > button {
  border: none;
  color: white;
  background-color: transparent;
}

.chat-header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  flex: 0.4;
}

.chat-header-right > .MuiSvgIcon-root {
  margin-right: 5px !important;
  font-size: 16px;
}

.chat-footer {
  display: flex;
  padding: 25px;
  position: sticky;
  bottom: 0;
  background-color: transparent;
}

.chat-messages {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

.chat-dummy {
  visibility: hidden;
  height: 10px;
}

/*Mobile screens*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .chat-body {
    height: 75%;
  }

  .chat {
    font-size: 15px;
    flex: 1;
    margin-top: 0%;
    margin-bottom: 90px;
  }

  .chat-header {
    display: flex;
    justify-content: space-between;
    padding: 5.1px;
    border-bottom: 1px solid var(--dark-1);
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
    height: 65px;
  }

  .chat-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    flex: 0.4;
  }

  .chat-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: transparent;
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .chat {
    margin-top: 0;
  }
}
