.coin-detail-container {
  overflow-y: scroll;
}

.coin-detail-container::-webkit-scrollbar {
  display: none;
}

.coin-detail-heading {
  padding: 14px;
  background-color: var(--main-color);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.coin-detail-body {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding: 1%;
  z-index: 0;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--light-2);
}

.coin-heading-container .coin-name {
  font-size: 2rem;
  font-weight: 900;
  color: var(--accent-1);
}

.coin-heading-container p {
  margin: 10px;
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  margin: 30px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--accent-1);
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--accent-1) !important;
}

/* coin-stats hover start */

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-2);
  font-size: 1rem;
  padding: 20px;
  background: linear-gradient(
    to right,
    var(--off-white) 50%,
    var(--accent-2) 50%
  );
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.35s ease-out;
}

.coin-stats:hover {
  background-position: left;
  border-radius: 5px;
}

/*coin-stats hover end*/

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 20px;
  padding: 3%;
  background-color: #a9f0d1;
}

/* #cfffb3 */
/* #4d9de0 */
/* #9dd9d2 */

.coin-value-statistics:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.other-stats-info {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 20px;
  padding: 3%;
  background-color: #a9f0d1;
}

.other-stats-info:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--accent-1);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--dark-2);
}

.coin-desc-link a:hover {
  color: var(--accent-1);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
  margin-left: 1%;
}

.coin-desc > h3 {
  color: var(--accent-1);
}

.coin-desc > p {
  flex: 0.5;
  padding-bottom: 4%;
  text-align: justify;
  line-height: 1.5;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-2);
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  /* color: black; */
  font-weight: 700;
  font-size: 1rem;
  z-index: 2;
}

.coin-link:hover {
  background-color: var(--off-white);
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}

/* Mobile Screens */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .coin-links {
    padding: 0px;
  }

  .coin-detail-container {
    margin: 0;
  }

  .coin-stats,
  .coin-stats-name {
    font-size: 15px;
  }

  .coin-detail-heading > h3 {
    font-size: 18px;
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .heading {
    margin-top: 20px;
  }
}

.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
}
