@keyframes loadEaseIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* gen styling start*/

.crypto-home {
  flex: 0.7;
  flex-grow: 1;
  overflow-y: scroll;
  animation: 0.5s loadEaseIn;
  transition-duration: 0.5s;
  background-image: url("../images/coinGramBackgroundLarge.webp");
  background-size: cover;
  background-attachment: scroll;
}

.crypto-home::-webkit-scrollbar {
  display: none;
}

.cryptohome-header {
  background-color: var(--main-color);
  color: white;
  padding: 14px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.crypto-stats {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 75%;
  border-radius: 15px;
  transition-duration: 0.5s;
  margin-top: 10px;
}

/* gen styling end*/

/* light mode start*/

.crypto-home-light {
  color: black;
}

/* light mode end*/

.crypto-home-dark {
  background-color: var(--dark-2);
}

.crypto-stats-dark {
  color: white;
}

.top-row-box {
  margin: 0 auto;
  width: 100%;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards li {
  /* border: 2px solid #490a3d; */
  border-radius: 10px;
  background-color: var(--accent-2);
  color: black;
}

.cards h3 {
  background-color: var(--light-3);
  margin: 0;
  padding: 10px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.cards p {
  padding: 10px;
  font-size: 2.5rem;
  text-align: center;
}

.total-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.total-box li {
  flex: 1 1 200px;
  margin: 10px;
}

.crypto-stats > h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.total-column > p {
  /* font-weight: bold; */
  padding-bottom: 20px;
}

.numbers-column > p {
  padding-bottom: 20px;
}

.total-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1rem;
  row-gap: 3rem;
  font-size: larger;
}

.top-ten-container {
  padding-top: 20px;
}

.top-ten-title {
  background-color: var(--dark-2);
  color: white;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 75%;
  border-radius: 15px;
  transition-duration: 0.5s;
  margin-top: 10px;
  border: 1px solid var(--accent-1);
}

.top-ten-title:hover {
  box-shadow: 0 8px 16px 0 var(---light-1);
}

.top-ten-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
}

.crypto-news-cont {
  display: flex;
  flex-direction: column;
}

.show-more-dark {
  color: white;
}
.show-more-light {
  color: black;
}

.show-more {
  margin: 20px;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .crypto-home {
    height: 88%;
  }
  .show-more-icon {
    margin: 20px;
  }
  .top-row-box {
    flex-direction: column;
  }
}
