.crypto-home {
  flex: 0.7;
  flex-grow: 1;
  overflow-y: scroll;
  /* margin-top: 25px; */
  background-color: var(--light-1);
}

.crypto-home::-webkit-scrollbar {
  display: none;
}

.cryptohome-header {
  background-color: var(--main-color);
  color: white;
  padding: 14px;
  position: sticky;
  top: 0;
}

.crypto-stats {
  background-color: var(--dark-2);
  color: white;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 75%;
  border-radius: 15px;
  transition-duration: 0.5s;
  margin-top: 10px;
  border: 1px solid var(--accent-1);
}

.crypto-stats:hover {
  box-shadow: 0 8px 16px 0 rgb(152 193 217);
}

.top-ten-container {
  padding-top: 20px;
}

.top-ten-title {
  background-color: var(--dark-2);
  color: white;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 75%;
  border-radius: 15px;
  transition-duration: 0.5s;
  margin-top: 10px;
  border: 1px solid var(--accent-1);
}

.top-ten-title:hover {
  box-shadow: 0 8px 16px 0 rgb(152 193 217);
}

.top-ten-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
}

a {
  text-decoration: none;
}
