.crypto-news {
  width: 100%;
  display: flex;
  flex: 0.7;
  flex-grow: 1;
  overflow-y: scroll;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
  background-image: url("../images/coinGramBackgroundMobile.jpg");
}

.crypto-news.simplified {
  background-image: none;
  background-color: transparent;
}

.crypto-news::-webkit-scrollbar {
  display: none;
}
.crypto-news-title {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  align-items: flex-start;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--dark-1);
}

.crypto-news-desc {
  font-size: 18px;
  margin-top: 10px;
  font-weight: normal;
  font-style: italic;
  color: var(--dark-1);
}

.news-header {
  padding: 14px;
  background-color: var(--main-color);
  color: white;
  position: sticky;
  top: 0;
}

.crypto-news-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  transition-duration: 0.5s;
  width: 95%;
  margin: 15px auto 15px auto;
}

.crypto-news-feed {
  padding: 10px;
}

.crypto-news-source {
  display: flex;
  flex-direction: column;
  flex: 0.1;
  align-items: flex-end;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: end;
}

.crypto-news-source > p {
  font-size: 12px;
  text-decoration: none;
}

.source-logo {
  height: 30px;
  padding-left: 5px;
}

.crypto-news-img {
  margin-right: 10px;
  flex: 0.1;
}
/* gen styling end*/

/* light mode styling start */

.crypto-news-cont-light {
  background-color: var(--off-white);
}

.crypto-news-card-light {
  background-color: var(--light-3);
}

.crypto-news-card-light:hover {
  box-shadow: 0 8px 16px 0 grey;
  background-color: var(--accent-2);
}
/* light mode styling end */

/* dark mode styling start */

.crypto-news-cont-dark {
  background-color: var(--dark-2);
}

.crypto-news-card-dark {
  background-color: var(--dark-1);
  color: white;
}

.crypto-news-title-dark,
.crypto-news-desc-dark,
.provider-name-dark {
  color: white;
}

.crypto-news-card-dark:hover {
  box-shadow: 0 8px 16px 0 grey;
  background-color: var(--accent-1);
}

/* dark mode styling start */

/*Mobile screens*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    display: none;
  }

  .news-header {
    font-size: 14px;
  }

  .crypto-news {
    margin-top: 0px;
    height: 88%;
  }

  .crypto-news-title {
    font-size: 14px;
  }

  .crypto-news-desc {
    font-size: 12px;
  }

  .crypto-news-img > img {
    width: 80px;
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}
