.header {
  display: flex;
  position: fixed;
  right: 0;
  width: 79.9%;
  height: fit-content;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--main-color);
  color: white;
  padding-bottom: 1px;
  /* border: 1px solid var(--dark-1); */
}

.header-right {
  display: flex;
  flex: 0.3;
  align-items: flex-end;
}

.header-right > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 20px;
  padding: 2px;
  height: 20px;
}

/* .header-search {
  display: flex;
  flex: 0.4;
  opacity: 1;
  border-radius: 6px;
  background-color: var(--main-color);
  text-align: center;
  padding: 0 50px;
  color: gray;
  border: 1px gray solid;
}

.header-search > input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 30vw;
  outline: none;
  color: white;
} */

/*Mobile screens*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    display: none;
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    display: none;
  }
}
