.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: var(--accent-1);
  margin-top: 2%;
  padding-left: 2%;
}
/* .chart-title {
  color: var(--accent-1) !important;
} */
.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.price-change {
  font-weight: 900 !important;
}
.current-price {
  margin-top: 0% !important;
  font-weight: 900 !important;
}

.chart-cont {
  margin: 20px auto;
  width: 95%;
}

/* Mobile Screens */
@media only screen and (min-width: 320px) and (max-width: 480px) {
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}

/* Laptop screens */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
