.container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100 vh;
  width: 100 vw;
  background-color: var(--light-3); */
}

.container > section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

section > .left {
  height: 100vh;
  width: 60vw;
  background-color: var(--light-2);
}

section > .left > img {
  margin-top: 15%;
  margin-left: 15%;
}

section > .right {
  height: 100vh;
  width: 40vw;
  background-color: var(--dark-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box > h1 {
  margin-top: 80px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  font-size: 70px;
  color: white;
}

.form > h2 {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 90px;
  color: white;
}

.bttn {
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: white;
  border: none;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 100px;
  cursor: pointer;
}

.bttn > .button:hover {
  background-color: var(--light-1);
}

.bttnText,
.bttnIcon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 100%;
  font-weight: 900;
}

.bttnIcon {
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.11);
}

/*Mobile screens*/
@media (min-width: 320px) {
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}
