.message-outer {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: row;
  max-width: 70%;
}

.message-avatar {
  height: 50px;
  width: 50px;
  border-radius: 999px;
  margin: 5px;
}

.message-details {
  display: flex;
  flex-direction: column;
  padding: 5px 15px 5px 5px;
  border-radius: 15px;
  /* background-color: var(--light-1); */
  transition-duration: 0.5s;
  max-width: 80%;
}

.message-details-dark {
  background-color: var(--dark-1);
  color: white;
}

.message-details-light {
  background-color: var(--light-1);
}

.message-details-light:hover {
  background-color: var(--accent-1);
  color: white;
}

.message-details-dark:hover {
  background-color: var(--light-3);
  color: black;
}

.reply-message {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  background-color: var(--light-1);
  color: black;
  border-radius: 5px;
}

.reply-message {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  background-color: var(--dark-1);
  color: white;
  border-radius: 5px;
}

.current-message {
  display: flex;
  align-items: center;
  padding: 15px;
}

/* .current-message-dark {
  background-color: var(--main-color);
} */

.current-user {
  margin-left: auto;
  color: white;
  display: flex;
  flex-direction: row-reverse;
}

.current-user-dark > .message-details {
  background-color: var(--dark-3);
}

.current-user-light > .message-details {
  background-color: var(--dark-2);
}

.current-user-light > .message-details:hover {
  background-color: var(--accent-1);
}

.current-user-dark > .message-details:hover {
  background-color: var(--light-3);
}

.current-user > .message-details > .current-message > .message-info > h4 {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.current-user
  > .message-details
  > .current-message
  > .message-info
  > h4
  > span {
  color: white;
}

.message-info {
  padding-left: 10px;
  word-wrap: break-word;
  max-width: 95%;
}

.message-info > h4 {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  margin-left: 0;
}

.message-info > h4 > span {
  padding: 5px 0px 5px 0px;
  margin-left: 0;
  color: gray;
  font-weight: 300;
  font-size: 10px;
}
.message-buttons {
  display: flex;
  transition-duration: 0.5s;
}

.message-buttons > .MuiSvgIcon-root:hover {
  color: white;
}

.message-buttons-dark > .MuiSvgIcon-root:hover {
  color: black;
}

.message-buttons > .MuiSvgIcon-root {
  margin-top: 5px;
  margin-left: auto;
  margin-right: 0;
  font-size: small;
  color: gray;
}

.current-user > .message-info {
  padding-right: 10px;
}

.current-user > .message-info > h4 {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  color: white;
}

.message.current-user > .message-info > h4 > span {
  color: white;
}

/*Mobile screens*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .message > img {
    height: 30px;
    width: 30px;
    border-radius: 99px;
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}
