.message-outer {
  display: flex;
  margin: 10px;
}

.message.current-user {
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 5px 15px 5px 5px;
  border-radius: 15px;
  background-color: var(--light-1);
  transition-duration: 0.5s;
}

.message:hover {
  background-color: var(--accent-1);
  color: white;
}
.reply-message {
  display: flex;
  flex-direction: column;
  padding: 5px 15px 5px 15px;
  margin: 5px 5px 0px 0px;
  background-color: var(--light-1);
  color: black;
  border-radius: 15px;
}

.current-message {
  display: flex;
  align-items: center;
  padding: 15px;
}

.current-message > img {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}

.message-info {
  padding-left: 10px;
}

.message-info > h4 {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  margin-left: 0;
}

.message-info > h4 > span {
  padding: 5px 0px 5px 0px;
  margin-left: 0;
  color: gray;
  font-weight: 300;
  font-size: 10px;
}
.message-buttons {
  display: flex;
  transition-duration: 0.5s;
}

.message-buttons > .MuiSvgIcon-root:hover {
  color: white;
}

.message-buttons > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 0;
  font-size: small;
  color: gray;
}

/*Styling for Current User*/
.current-user {
  margin-left: auto;
  background-color: var(--dark-2);
  color: white;
  display: flex;
  flex-direction: row-reverse;
}

.current-user > .message-info {
  padding-right: 10px;
}

.current-user > .message-info > h4 {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  color: white;
}

.message.current-user > .message-info > h4 > span {
  color: white;
}

/*Mobile screens*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .message > img {
    height: 30px;
    width: 30px;
    border-radius: 99px;
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}
