.settings-cont {
  color: black;
  flex: 0.8;
  width: 100%;
  overflow-y: scroll;
}

.settings-dark {
  color: white;
  background-color: var(--dark-2);
  flex: 0.8;
  width: 100%;
  overflow-y: scroll;
}

.settings-cont::-webkit-scrollbar {
  display: none;
}

.settings-header {
  background-color: var(--main-color);
  color: white;
  padding: 14px;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 20px;
}

.settings-header > .MuiSvgIcon-root {
  padding: 8px;
  color: var(--accent-1);
  font-size: 16px;
  background-color: white;
  border-radius: 999px;
}

.settings-info {
  flex: 1;
}

.settings-info > h2 {
  font-size: 15px;
  font-weight: 900px;
  margin-bottom: 5px;
}

.settings-info > h3 {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  /* align-items: center; */
}

.settings-info > h3 > .MuiSvgIcon-root {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  color: var(--green-1);
}

/* Account Settings Styling */

.acct-light {
  background-color: var(--light-3);
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  width: 85%;
  transition-duration: 0.5s;
}

.acct-dark {
  background-color: var(--dark-1);
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  width: 85%;
  color: white;
  transition-duration: 0.5s;
}

.account-header {
  padding: 10px;
}

.account-setting {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 15px 0;
}

/* Account Settings Styling end */

/* Profile Picture Styling start */

.profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pfp-title {
  padding: 10px;
}

.header-avatar {
  cursor: pointer;
  border-radius: 999px;
  height: 80px;
  width: 80px;
  margin: 10px;
  box-shadow: 0 0 20px var(--dark-2);
  margin: 10px;
}

/* Profile Picture Styling end */

/* Gen Info Styling start */

.username {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.un-deets,
.email-deets {
  font-size: 18px;
  font-style: italic;
  margin: 5px;
}

.current-un,
.current-email {
  background-color: var(--light-1);
  padding: 5px;
  text-align: center;
  width: 100%;
  transition-duration: 0.5s;
}

.current-un-dark,
.current-email-dark {
  background-color: var(--light-2);
  padding: 5px;
  text-align: center;
  width: 100%;
  color: black;
  transition-duration: 0.5s;
}

/* Gen Info Styling end */

.settings-cont > button {
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  width: fit-content;
  margin: 10px;
}

.btn-light {
  background-color: var(--dark-2);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.btn-dark {
  background-color: #fff;
  color: #222;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .settings-cont {
    flex: 1;
    height: 88%;
  }

  .account-setting {
    flex-direction: column;
    align-items: center;
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}
