.settings-cont {
  color: white;
  background-color: var(--dark-1);
  border-top: 1px solid var(--accent-1);
  padding: 25px;
  flex: 0.8;
}
.profile-picture,
.general-info {
  margin-bottom: 10px;
}

.modal-setting-1 {
  margin-bottom: 10px;
}
.header-avatar {
  cursor: pointer;
  border-radius: 999px;
  height: 30px;
  margin-right: 10px;
}

.settings-header {
  display: flex;
  border-bottom: 1px solid var(--accent-1);
  padding: 13px;
}

.settings-header > .MuiSvgIcon-root {
  padding: 8px;
  color: var(--accent-1);
  font-size: 16px;
  background-color: white;
  border-radius: 999px;
}

.settings-info {
  flex: 1;
}

.settings-info > h2 {
  font-size: 15px;
  font-weight: 900px;
  margin-bottom: 5px;
}

.settings-info > h3 {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  /* align-items: center; */
}

.settings-info > h3 > .MuiSvgIcon-root {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  color: green;
}
