.settings-option-cont {
  display: flex;
  font-size: 12px;
  align-items: center;
  padding-left: 2px;
  cursor: pointer;
}

.settings-option-cont:hover {
  opacity: 0.9;
  background-color: var(--light-1);
  color: var(--accent-1);
}

.settings-option-cont > h3 {
  font-weight: 500;
}

.settings-option-cont > h3 > span {
  padding: 15px;
}

.settings-option-channel {
  padding: 10px 0px;
  font-weight: 300;
}
