@keyframes pop {
  0% {
    transform: translate(-50%, -50%) scale(1.25, 0.75);
  }
  50% {
    transform: translate(-50%, -100%) scale(1, 1);
  }
  55% {
    transform: translate(-50%, -100%) rotate(15deg);
  }
  60% {
    transform: translate(-50%, -100%) rotate(-15deg);
  }
  65% {
    transform: translate(-50%, -100%) rotate(15deg);
  }
  70% {
    transform: translate(-50%, -100%) rotate(-15deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.25, 0.75);
  }
}

/* @keyframes textFade2 {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0%);
  }
} */

.coingram-logo > img {
  display: flex;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  animation: pop 1.2s infinite;

  height: 50%;
  border-radius: 500px;
  background-color: transparent;
  margin: 3%;
}

.coingram-logo > h1 {
  position: absolute;
  bottom: 20%;
  left: 50%;
}

/* .coingram-logo > h1:before {
  content: "";
  position: absolute;
  background-color: var(--light-1);
  width: 100%;
  animation: textFade2 5s ease infinite;
  height: 100%;
  box-shadow: 25px 0px 30px 10px var(--light-1);
} */
