@keyframes pop {
  0% {
    transform: translate(0, 0) scale(1.25, 0.75);
  }
  50% {
    transform: translate(0, -50%) scale(1, 1);
  }
  55% {
    transform: translate(0, -50%) rotate(15deg);
  }
  60% {
    transform: translate(0, -50%) rotate(-15deg);
  }
  65% {
    transform: translate(0, -50%) rotate(15deg);
  }
  70% {
    transform: translate(0, -50%) rotate(-15deg);
  }
  100% {
    transform: translate(0, 0) scale(1.25, 0.75);
  }
}

.shaker-load {
  display: flex;
  color: var(--dark-1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--off-white);
}

.shaker-load > img {
  height: 350px;
  border: 10px solid white;
  border-radius: 999px;
  background-color: transparent;
  margin: 50px;
  transform: translate(0, 0);
  animation: pop 1.2s infinite;
}

h1 {
  font-size: 40px;
}

/*for mobile screens*/
@media screen and (max-width: 480px) {
  .shaker-load > img {
    height: 250px;
  }
  h1 {
    font-size: 30px;
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .shaker-load > img {
    height: 300px;
  }

  h1 {
    font-size: 35px;
  }
}
