.sidebar-cont {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--main-color);
  flex: 0.2;
  border-top: 1px solid var(--dark-1);
  border-right: 1px solid var(--dark-1);
  max-width: 20%;
}

.sidebar-cont > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--dark-1);
}

.sidebar-header {
  display: flex;
  border-bottom: 1px solid var(--dark-1);
  padding: 13px;
}

.sidebar-header > .MuiSvgIcon-root {
  padding: 8px;
  color: var(--dark-1);
  font-size: 16px;
  background-color: var(--light-2);
  border-radius: 999px;
}

/* below is originally header left */

.sidebar-avatar {
  cursor: pointer;
  border-radius: 999px;
  height: 30px;
  margin-right: 10px;
}

.avatar:hover {
  opacity: 0.6;
}

.sidebar-left {
  display: flex;
  flex: 0.3;
  align-items: center;
  justify-content: center;
}

.sidebar-left > .MuiSvgIcon-root {
  margin-right: 10px;
}

/* above is originally header left */

.sidebar-info {
  flex: 1;
}

.sidebar-info > h2 {
  font-size: 15px;
  font-weight: 900px;
  margin-bottom: 5px;
}

.sidebar-info > h3 {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  align-items: center;
}

.sidebar-info > h3 > .MuiSvgIcon-root {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  color: green;
}
