.sidebar-option-cont {
  display: flex;
  font-size: 12px;
  align-items: center;
  padding-left: 2px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.sidebar-option-cont-dark:hover {
  opacity: 0.9;
  background-color: var(--light-1);
  color: var(--dark-1);
  border-radius: 5px;
}

.sidebar-option-cont-light:hover {
  opacity: 0.9;
  background-color: var(--dark-1);
  color: white;
  border-radius: 5px;
}

.sidebar-option-cont > h3 {
  font-weight: 500;
}

.sidebar-option-cont > h3 > span {
  padding: 15px;
}

.sidebar-option-channel {
  padding: 10px 0px;
  font-weight: 300;
}

.channel-header {
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  align-items: center;
}

.channel-header > button {
  color: white;
  transform: scale(0.75);
}

/*Mobile screens*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .channel-header {
    font-size: 0;
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}
