.sidebar-cont {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--main-color);
  flex: 0.2;
  border-top: 1px solid var(--dark-1);
  border-right: 1px solid var(--dark-1);
  min-width: 20%;
}

.sidebar-channel {
  overflow-y: scroll;
}
.sidebar-others {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.sidebar-channel::-webkit-scrollbar {
  display: none;
}

.sidebar-cont > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--dark-1);
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--dark-1);
  padding: 13px;
  height: 75px;
  position: sticky;
  top: 0;
  background-color: var(--main-color);
}

.sidebar-header > button {
  /* padding: 8px; */
  color: white;
  /* font-size: 16px; */
  /* border-radius: 999px; */
}

/* below is originally header left */

.sidebar-avatar {
  cursor: pointer;
  border-radius: 999px;
  height: 50px;
  margin-right: 10px;
}

.avatar:hover {
  opacity: 0.6;
}

.sidebar-left {
  display: flex;
  flex: 0.3;
  align-items: center;
  justify-content: center;
}

.sidebar-left > .MuiSvgIcon-root {
  margin-right: 10px;
}

/* above is originally header left */

.sidebar-info {
  flex: 1;
}

.sidebar-info > h2 {
  font-size: 15px;
  font-weight: 900px;
  margin-bottom: 5px;
}

.sidebar-info > h3 {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  align-items: center;
}

.sidebar-info > h3 > .MuiSvgIcon-root {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  color: green;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .sidebar-header > .MuiSvgIcon-root {
    display: none;
  }
  .sidebar-info {
    display: none;
  }

  .sidebar-cont {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-top: 1px solid var(--dark-1);
    border-right: 1px solid var(--dark-1);
    max-width: 100vw;
    bottom: 0;
    position: absolute;
    overflow-x: scroll;
    z-index: 5;
  }

  .sidebar-cont::-webkit-scrollbar {
    display: none;
  }

  .sidebar-channel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  .sidebar-crypto {
    display: flex;
    flex-direction: row;
    font-size: 0px;
  }
  .sidebar-crypto > .sidebar-option-cont > h3 {
    font-size: 0px;
  }

  .sidebar-avatar {
    cursor: pointer;
    border-radius: 999px;
    height: 30px;
    margin-right: 10px;
  }

  .sidebar-info > h2 {
    font-size: 14px;
    font-weight: 900px;
    margin-bottom: 5px;
  }

  .sidebar-info > h3 {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
  }

  .sidebar-left {
    display: flex;
    flex: 0.3;
    align-items: center;
    justify-content: center;
  }

  .sidebar-misc {
    display: none;
  }
}

/* IPad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* .sidebar-header > button {
    display: none;
  } */

  .sidebar-avatar {
    cursor: pointer;
    border-radius: 999px;
    height: 30px;
    margin-right: 10px;
  }

  .sidebar-info > h2 {
    font-size: 15px;
    font-weight: 900px;
    margin-bottom: 5px;
  }

  .sidebar-info > h3 {
    display: flex;
    font-size: 13px;
    font-weight: 400;
    align-items: center;
  }
}

.create_icon {
  margin-right: 10;
}

/* Laptop screens
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar-header > .MuiSvgIcon-root {
    display: none;
  }
} */
