.app-body {
  display: flex;
  height: 100vh;
  background-color: var(--off-white);
}

.app-loading {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.app-loading-contents {
  text-align: center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-loading-contents > img {
  height: 100px;
  padding: 20px;
  margin-bottom: 40px;
}

/* All Crypto CSS below */

:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}
