* {
  margin: 0;
}

body {
  --main-color: #3c4552;
  --dark-1: #293241;
  --dark-2: #3d5a80;
  --off-white: #f2ffff;
  --light-1: #e0fbfc;
  --light-2: #a3acbd;
  --light-3: #98c1d9;
  --accent-1: #001a72; /*for icons*/
  --red-1: #e7543f; /*for status*/
  --green-1: #1fb384; /*for status*/
  --yellow-1: #f9f871; /*for status*/
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 500px) {
  .body {
    font-size: 10px;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
